<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @resource.email %>,</p>
    <p>it looks like you're attempting to sign in from a new IP address.</p>
    <p>To proceed, click the link below. The link will be valid for 5 minutes.</p>
    <p><%= link_to 'Log in', new_session_url(@resource, token: @token) %></p>
  </body>
</html>
